
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= image_tag('logo.png', size: "80x80") %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="btn btn-success" style="text-decoration:none;" href="<%= kitaps_path %>"><%= t 'home'%> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success" style="text-decoration:none;"href="#"><%= t 'about'%></a>
      </li>
    </ul>
    <p class="navbar-text pull-right">
    <% if user_signed_in? %>
      Giriş yaptı :<strong><%= current_user.email %></strong>.
      <%= link_to 'Profili Düzenle', edit_user_registration_path, :class => 'btn btn-success', :style=> "text-decoration:none;" %> |&nbsp;
      <%= link_to "Çıkış", destroy_user_session_path, method: :delete, :class => 'btn btn-success', :style=> "text-decoration:none;"  %>
    <% else %>
      <%= link_to (I18n.t 'signup'), new_user_registration_path, :class => 'btn btn-success', :style=> "text-decoration:none;"  %> |&nbsp;
      <%= link_to (I18n.t 'login'), new_user_session_path, :class => 'btn btn-success', :style=> "text-decoration:none;"  %>
    <% end %>
    </p>&nbsp;
    <p><%= link_to "En",{:locale => "en"}, :class => 'btn btn-success', :style=> "text-decoration:none;" %>&nbsp;
    <%= link_to "Tr",{:locale => "tr"}, :class => 'btn btn-success', :style=> "text-decoration:none;" %></p>


  </div>
</nav>
